PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_NAME=webapi

# dev ops envs
DOCKER_USERNAME=
DOCKER_PASSWORD=
SSH_KEY=
SERVER_CONNECTION_STRING=
SERVICE=api

SENTRY_DSN=

RABBIT_HOST=
RABBIT_USERNAME=
RABBIT_PASSWORD=

CORS_REGEXP=/^localhost.*/
ONGEO_API_KEY=
